node_modules
.next
out
build

# ---------------------
# Global Node + Editor
# ---------------------
node_modules/
dist/
.env
.DS_Store
*.log
*.lock
*.tsbuildinfo

# ---------------------
# Bun
# ---------------------
bun.lockb

# ---------------------
# Turbo repo
# ---------------------
.turbo/

# ---------------------
# TypeScript
# ---------------------
*.tsbuildinfo

# ---------------------
# IDEs
# ---------------------
.idea/
*.sw?

# ---------------------
# OS
# ---------------------
Thumbs.db
ehthumbs.db
desktop.ini